body, html, .body{
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
body{
  background:
    linear-gradient(#96A4DF, #A6CEDE 90%);
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 400px;
}
.inline {
  display: flex;
  vertical-align: middle;
  text-align: center;
}
.cep-input {
  display: flex;
  border: none;
  width: 18vmax;
  height: 7.7vh;
  font-size: 3.5vmax;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.buscarcepp {
  display: flex;
  border: none;
  width: 8vmax;
  height: 8vh;
  border-radius: 0 10px 10px 0;
  font-size: 3.2vmax;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 0, 0.4);
  cursor: pointer;
}
.apagarcep {
  display: flex;
  border: none;
  width: 8vmax;
  height: 8vh;
  border-radius: 10px 0 0 10px;
  font-size: 3.2vmax;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.4);
  cursor: pointer;
}
#dadosCep h2 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 8px;
  color: #000;
}
#dadosCep p {
  font-size: 2rem;
  color: #000;
}

/*========== FOOTER ========== */

.social-footer {
  padding: 1rem;
  background: #222;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.social-footer-left img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.social-footer-icons li {
  text-decoration: none;
  display: inline;
  margin-left: 15px;
}
.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fab {
  font-size: 3.3em;
  color: #fff;
}

.social-footer .social-footer-icons .fab:hover {
  color: #cb925c;
  transition: color 0.2s ease-in;
}